<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{layout/layout}">
	<head>
		<meta charset="UTF-8">
		<title>購入履歴詳細</title>
<!-- レイアウト用CSS -->
		<link rel="stylesheet" th:href="@{/css/searchResult.css}">
	</head>
	<body>
		<div layout:fragment="content">
			<h1>注文検索結果</h1>
			<h2>注文情報</h2>
			<h4>注文者の配送情報と決済情報</h4>
			<table border="1" class="table table-bordered order-user-info">
				<div th:object="${order}">
					<tr>
						<th><label for="orderId" th:text="#{orderId}"></label></th>
						<td><p th:field="*{orderId}" th:text="*{orderId}"></p></td>
					</tr>
					<tr>
						<th><label for="orderDateTime" th:text="#{orderDateTime}"></label></th>
						<td><p th:field="*{orderDateTime}" th:text="*{orderDateTime}"></p></td>
					</tr>
					<tr>
						<th><label for="addressee" th:text="#{addressee}"></label></th>
						<td><p th:field="*{addressee}" th:text="*{addressee}"></p></td>
					</tr>
					<tr>
						<th><label for="shippingAddress" th:text="#{shippingAddress}"></label></th>
						<td><p th:field="*{shippingAddress}" th:text="*{shippingAddress}"></p></td>
					</tr>
					<tr>
						<th><label for="mobilePhoneNumber" th:text="#{mobilePhoneNumber}"></label></th>
						<td><p th:field="*{mobilePhoneNumber}" th:text="*{mobilePhoneNumber}"></p></td>
					</tr>
					<tr>
						<th><label for="emailAddress" th:text="#{emailAddress}"></label></th>
						<td><p th:field="*{emailAddress}" th:text="*{emailAddress}"></p></td>
					</tr>
					<tr>
						<th><label for="creditCardNumberAsterisked" th:text="#{creditCardNumber}"></label></th>
						<td><p th:field="*{creditCardNumberAsterisked}" th:text="*{creditCardNumberAsterisked}"></p></td>
					</tr>
					<tr>
						<th><label for="creditCardUserName" th:text="#{creditCardUserName}"></label></th>
						<td><p th:field="*{creditCardUserName}" th:text="*{creditCardUserName}"></p></td>
					</tr>
				</div>
			</table>
			<h4>注文された商品の内容</h4>
			<table border="1" class="table table-bordered order-item-info">
					<tr class="order-single-item-info">
						<th><label for="name" th:text="#{name}"></label></th>
						<th><label for="price" th:text="#{price}"></label></th>
						<th><label for="number" th:text="#{number}"></label></th>
					</tr>
					<tr th:each="item:${orderedItemList}">
						<td th:text="${item.name}"></td>
						<td th:text="${item.price + '円'}"></td>
						<div th:each="orderDetail:${orderDetailList}">
							<th:block th:if="${item.id == orderDetail.itemId}">
								<td th:text="${orderDetail.number + '個'}"></td>
							</th:block>
						</div>
					</tr>
			</table>
			<table border="1" class="table table-bordered order-total-price">
						<tr>
							<th><label for="totalPrice" th:text="#{totalPrice}"></label></th>
						</tr>

						<tr>
							<td th:text="${totalPriceOfAnOrder + '円'}"></td>
						</tr>
			</table>
		</div>
	</body>
</html>