<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- レイアウト用CSS -->
	<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
	<nav layout:fragment="header" class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">ECサイト</a>
			</div>
			<form method="post" th:action="@{/logout}">
				<button class="btn btn-link pull-right navbar-brand btn-primary" type="submit">ログアウト</button>
			</form>

		</div>

		<th:block th:if="${loginUserName == null}">
			<div class="loginStateInfo">
				<p class="text-white">ログインしておりません。</p>
				<p class="text-white">アカウントをお持ちの方は下記↓よりログインを推奨します。</p>
				<a class="btn btn-primary" th:href="@{'/login'}">ログイン</a>
			</div>
		</th:block>
		<th:block th:unless="${loginUserName == null}">
			<p class="loginUserName" th:text="${loginUserName} + ' さんがログイン中です'"></p>
		</th:block>
<!--
		<img width="106" height="10" border="0" src="https://joshinweb.jp/emall/img/wpp/jmall/ind_cart.gif">
 -->
	</nav>
	<nav layout:fragment="header" class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark navbar-progress">
		<div class="progress-bar-header text-white">
			<progress id="file" max="100" th:value="${percentage}"></progress>
			<th:block th:if="${percentage!=null}">
				<p class="percentage" th:text="${percentage + '%'}"></p>
			</th:block>
			<th:block th:unless="${percentage!=null}">
				<p class="percentage">0%</p>
			</th:block>
			<ol class="breadcrumb bg-transparent">
    			<li th:class="breadcrumb-item">
    				<th:block th:if="${isCart}">
    					<p class="text-black">カート</p>
    				</th:block>
    				<th:block th:unless="${isCart}">
    				</th:block>
    			</li>
    			<li class="breadcrumb-item" >
    				<th:block th:if="${isPersonalInfo}">
    					<p class="text-black">配送情報</p>
    				</th:block>
    				<th:block th:unless="${isPersonalInfo}">
    				</th:block>
    			</li>

    			<li class="breadcrumb-item">
    				<th:block th:if="${isPaymentInfo}">
    					<p class="text-black">決済情報</p>
    				</th:block>
    				<th:block th:unless="${isPaymentInfo}">
    				</th:block>
    			</li>

    			<li class="breadcrumb-item">
    				<th:block th:if="${isConfirmation}">
    					<p class="text-black">最終確認</p>
    				</th:block>
    				<th:block th:unless="${isConfirmtation}">
    				</th:block>
    			</li>

  			</ol>
		</div>
	</nav>


<!--
	<nav layout:fragment="header" class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark" aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="/item/itemList">商品一覧</a></li>
    		<li class="breadcrumb-item"><a href="/item/cart">カート</a></li>
    		<li class="breadcrumb-item"><a href="/item/personalInfo">配送情報</a></li>
    		<li class="breadcrumb-item"><a href="/item/paymentInfo">決済情報</a></li>
    		<li class="breadcrumb-item"><a href="/item/confirmation">最終確認</a></li>

    		<li class="breadcrumb-item active" aria-current="page"><a href="/item/paymentInfo">決済情報</a></li>

  		</ol>
	</nav>
-->

</body>
</html>